@section SPAViews {
  <div id="app">
    <h1>Hello App!</h1>
    <p>
      <!-- 使用 router-link 组件来导航. -->
      <!-- 通过传入 `to` 属性指定链接. -->
      <!-- <router-link> 默认会被渲染成一个 `<a>` 标签 -->
      <router-link to="/">Go to Home</router-link><span>&nbsp;&nbsp;</span>
      <router-link to="/Dispatch/PlanSchedule">Go to Foo</router-link><span>&nbsp;&nbsp;</span>
      <router-link to="/bar">Go to Bar</router-link><span>&nbsp;&nbsp;</span>
      <router-link to="/login">Go to Login</router-link>
    </p>
    <!-- 路由出口 -->
    <!-- 路由匹配到的组件将渲染在这里 -->
    <router-view></router-view>
  </div>
}
@section Scripts{
  @*<script src="~/App/dist/build.js"></script>*@
}

<style>

  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }

  h1, h2 {
    font-weight: normal;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #42b983;
  }
</style>
